*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
}
h1{
    background-color: #424C55;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
    cursor: pointer;
    transform: scale(1.25);
    background-color: black;
}
.choice{
    height: 165px;
    width: 165px;
    transition: all;
    transition-duration: 0.5s; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: none;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}
#user-score, #bot-score {
    font-size: 5rem;
}
.winner-container{
    margin-top: 5rem;
}
.msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 30px;
}